<div id="{{ post.id }}" class="post col4">
	<div class="post-header">
		<div class="post-actions" style="float: right">
			<a class="post-close" href="#">x</a>
		</div>
		<h4>
			<img class="service-icon" src="media/images/rss.png" alt="[RSS]" />
			{{ post.date_added }}
		</h4>
	</div>
	<div class="post-body">
		<h4><a href="{{ object.url }}">{{ object.title }}</a></h4>
		<p>
			{% if object.image_url %}
				<img src="{{ object.image_url }}" style="float: left; margin-right: 10px; margin-top: 5px;"/>
			{% endif %}
			{{ object.body|safe }}
		</p>
	</div>
	<div class="post-footer">
		{{ post.account.rssaccount.url|urlize }}
	</div>
</div>
