<!doctype html>
<html lang="pl">
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
		
		<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon" />
		<link href='http://fonts.googleapis.com/css?family=Cantarell&subset=latin' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" media="all" href="{{ MEDIA_URL }}css/base.css"/>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		{% block head_extra %}
		
		{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
